# ビルド結果
iev
relaton
metanorma.asciidoc.log.txt
discussion-paper/document.asciidoc.log.txt
discussion-paper/document.err.html
discussion-paper/sections/annex-bibliography.asciidoc.log.txt
discussion-paper/sections/annex-bibliography.err.html
discussion-paper/sections/annex-bibliography.pdf
discussion-paper/sections/annex-bibliography.presentation.xml